<script setup lang="ts">
import { defineProps } from 'vue';

import type { IScriptRunnerProps } from '@/features/ScriptsRunner/utils/scriptRunner';

const props = defineProps<{
  scripts: IScriptRunnerProps,
}>();
</script>

<template>
  <ul>
    <li v-for="(dependencies, scriptId) in props.scripts" v-bind:key="scriptId" class="code-row">
        <span class="code-row__script">{{ scriptId }}</span>
        <p class="code-row__deps">{{ dependencies }}</p>
    </li>
  </ul>
</template>

<style scoped>
.code-row {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  border-top: 1px solid #4D4D4D;
  background-color: #2B2B2B;
  height: 28px;
}
.code-row__script {
  flex: 30px 0 0;
  color: #E7BE61;
}
.code-row__deps {
  margin-left: 8px;
  color: #A6B9B9;
}
ul {
  border-radius: 8px;
  display: flex;
  list-style-type: none;
  padding: 12px;
  background-color: #4D4D4D;
  margin: 0;
  flex-direction: column;
  height: fit-content;
  width: 300px;
}
</style>
