<script setup lang="ts">
import { useScriptRunner } from '@/features/ScriptsRunner/utils/scriptRunner';
import { ref, watchEffect } from 'vue';

import CodeWrapper from '@/features/ScriptsRunner/ui/CodeWrapper.vue';

import graph1 from '@/assets/images/graph1.jpg';
import graph2 from '@/assets/images/graph2.jpg';
import graph3 from '@/assets/images/graph3.jpg';
import graph4 from '@/assets/images/graph4.jpg';
import graph5 from '@/assets/images/graph5.jpg';
import graph6 from '@/assets/images/graph6.jpg';
import graph7 from '@/assets/images/graph7.jpg';

const graphs = [graph1, graph2, graph3, graph4, graph5, graph6, graph7];

const scriptsDatabase = [{
  1: [2, 3],
  2: [4],
  3: [],
  4: [3],
  5: [1, 4],
  6: [],
},
{
  1: [2],
  2: [3],
  3: [4],
  4: [],
  5: [1],
  6: [5],
},
{
  1: [],
  2: [3, 4],
  3: [5],
  4: [5],
  5: [],
  6: [2],
},
{
  1: [4, 3],
  2: [],
  3: [5],
  4: [],
  5: [2],
  6: [1, 4],
},
{
  1: [2, 3],
  2: [4],
  3: [5],
  4: [6],
  5: [],
  6: [],
},
{
  1: [2],
  2: [3],
  3: [1],
},
{
  1: [2],
  2: [3],
  3: [4],
}];

const stepId = ref(0);
const scripts = ref([]);
const nonExistentScripts = ref([]);
const errorMessage = ref('');

const changeStepBtnClickHandler = {
  inc: () => {
    stepId.value += 1;
  },
  dec: () => {
    stepId.value -= 1;
  },
};

watchEffect(() => {
  const result = useScriptRunner(scriptsDatabase[stepId.value]);

  scripts.value = result.scripts;
  errorMessage.value = result.errorMessage;
  nonExistentScripts.value = result.nonExistentScripts;
});
</script>;

<template>
  <div class="runner">
    <div class="runner__info">
      <CodeWrapper :scripts="scriptsDatabase[stepId]" />

      <img :src="graphs[stepId]" width="300" alt="Grahp" />
    </div>

    <div class="runner__controls">
      <button class="runner__step-btn prev-btn"
              v-if="stepId > 0" @click="changeStepBtnClickHandler.dec">
        Prev
      </button>
      <button class="runner__step-btn next-btn"
              v-if="stepId < scriptsDatabase.length - 1" @click="changeStepBtnClickHandler.inc">
        Next
      </button>
    </div>

    <div class="runner__result">
      <p class="runner__error-msg" v-if="errorMessage?.length">
        {{ errorMessage }}
      </p>
      <p class="runner__result-msg" v-if="scripts?.length">{{ scripts }}</p>
    </div>
  </div>
</template>

<style scoped>
.runner {
  margin: 0 auto;
  background-color: #2B2B2B;
  width: fit-content;
  gap: 20px;
}
.runner__info {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.runner__step-btn {
  padding: 8px 16px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #4339F2;
}
.runner__error-msg {
  color: #c16068;
}
.runner__result-msg {
  color: #8CC160;
}
.runner__controls {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin: 20px auto auto;
}
.prev-btn {
  background-color: #D9D7FC;
  color: #4339F2;
}
</style>
