<script lang="ts">
import { defineComponent } from 'vue';

import ScriptRunner from '@/features/ScriptsRunner/ui/ScriptsRunner.vue';

export default defineComponent({
  name: 'App',
  components: { ScriptRunner },
});
</script>

<template>
  <ScriptRunner />
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
body {
  background-color: #2B2B2B;
}
</style>
